{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Úprava {{ stat }}{% endblock %}

{% block content %}
<div class="row mb-3">
    <div class="col-sm-12 bg-orange">
        <h2 class="display-5 text-center">Úprava: <span class="text-white">{{ stat }}</span></h2>
    </div>
</div>
<div class="row mt-5 mb-3">
    <div class="container">
        <form method="post" novalidate enctype="multipart/form-data">
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
              {{ hidden_field }}
            {% endfor %}

            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                  {{ error }}
                {% endfor %}
            </div>
            {% endif %}

            {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }}

                {% if form.is_bound %}
                  {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                      <div class="invalid-feedback">
                          {{ error }}
                      </div>
                    {% endfor %}
                  {% else %}
                    {% render_field field class="form-control is-valid" %}
                  {% endif %}
                {% else %}
                  {% render_field field class="form-control" %}
                {% endif %}

                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
            {% endfor %}

            <div id="recaptcha" class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>

            <button class="btn btn-secondary">Zrušit</button>
            <button id="submit-button" class="btn btn-primary" type="submit" style="visibility: hidden">Potvrdit</button>
        </form>
    </div>

    </div>
</div>


{% endblock %}

{% block scripts %}
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
    $(document).ready(function() {
        let myConfObj = {
          iframeMouseOver : false
        }
        window.addEventListener('blur',function(){
          if(myConfObj.iframeMouseOver){
            console.log('Wow! Iframe Click!');
            let button = document.getElementById("submit-button");
            button.style.visibility = 'visible';
          }
        });

        document.getElementById('recaptcha').addEventListener('mouseover',function(){
           myConfObj.iframeMouseOver = true;
        });
        document.getElementById('recaptcha').addEventListener('mouseout',function(){
            myConfObj.iframeMouseOver = false;
        });

    });

</script>
{% endblock %}